# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarn
.yarnclean

# Directories
build/
cjs/
coverage/
dist/
dts/
esm/
lib/
mjs/
node_modules/
tmp/
storybook-static/

# Configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
*.config.js
*.config.ts
*.tsbuildinfo

# Custom
*.min.js
*.map
.npmrc

# MacOS
.DS_Store