name: Playroom

on:
  push:
    branches:
      - main
    paths:
      - 'packages/**/.tsx?'
      - '.playroom/**'
      - 'playroom.config.js'

jobs:
  playroom:
    name: Build & deploy Playroom
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max_old_space_size=4096
      IS_GITHUB_PAGES: true
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Setup Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: yarn --immutable

      - name: Build
        run: yarn build

      - name: Build Playroom
        run: yarn playroom:build

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./dist
          github_token: ${{ secrets.GITHUB_TOKEN }}
