name: PR Workflow

on:
  pull_request:
    types: [opened, synchronize, ready_for_review, edited, closed]
    branches:
      - main

jobs:
  build:
    name: Build, Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: yarn --immutable

      - name: Build packages
        run: yarn build

      - name: Lint types and code
        run: yarn lint

      - name: Run tests
        run: yarn test

      - name: Run chromatic
        run: yarn chromatic
